<template>
  <div
    id="authorization"
    class="card"
  >
    <div
      v-if="!redirected"
    >
      <i class="top-icon loading fas fa-spinner"></i>
      <div
        class="message"
      >
        Redirecting to Spotify's authorization page...
      </div>
    </div>
    <div
      v-else-if="error"
    >
      <i class="top-icon error-icon fas fa-exclamation-triangle"></i>
      <div
        class="message"
      >
        An error has ocurred.
      </div>
      <button
        class="retry-button"
        title="Try again"
        @click="authorize"
      >
        <i class="retry-icon fas fa-sync-alt"></i>
      </button>
    </div>
    <div
      v-else
    >
      <i class="top-icon loading fas fa-spinner"></i>
      <div
        class="message"
      >
        Redirecting to app...
      </div>
    </div>
  </div>
</template>

<script src="./Authorization.js" />

<style lang="scss" src="./Authorization.scss" />
