@import "@/styles/mixins.scss";

#home {
  width: 100%;
  overflow: hidden;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  text-align: left;
  height: 100%;
  background-color: fade-out(black, 0.5);
}

.artist-name {
  $text-border: 3px;
  $margin: 8px;
  color: white;
  margin-left: $margin;
  margin-right: $margin;
  margin-bottom: $margin;

  @include stroke(2, black);
}

.popular-artist {
  color: yellow;
}

.hipster-artist {
  color: green;
}

.artist-image {
  background: fade-out(green, 0.85);
  background-size: 100vh;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
}

.artist-image:hover {
  .artist-name {
    transform: scale(1.05);
  }
  background-blend-mode: lighten;
}
