<template>
  <div
    id="home"
    :class="{ card: error || loading }"
  >
    <div
      v-if="error"
    >
        <i class="top-icon error-icon fas fa-exclamation-triangle"></i>
        <div
          class="message"
        >
          An error has ocurred.
        </div>
        <button
          class="retry-button"
          title="Try again"
          @click="authorize"
        >
          <i class="retry-icon fas fa-sync-alt"></i>
        </button>
    </div>
    <div
      v-else-if="loading"
    >
      <i class="top-icon loading fas fa-spinner"></i>
      <div
        class="message"
      >
        Loading top artists...
      </div>
    </div>
    <div
      v-else
      class="artists"
    >
      <template
        v-for="({ image, style, title, popularity }, k) of topArtists"
      >
        <div
          :style="style"
          :key="k"
          class="artist-image"
        >
          <div
            class="artist-name"
          >
            {{ title }}
            <i
              v-if="popularity === topPopularity"
              class="popular-artist fas fa-star"
            />
            <i
              v-else-if="popularity === leastPopularity"
              class="hipster-artist fas fa-glasses"
            />
          </div>

        </div>
      </template>
    </div>
  </div>
</template>

<script src="./Home.js" />

<style lang="scss" src="./Home.scss" />
