$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";
@import "@/styles/_media-queries.scss";

$margin: 20px;

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  background: linear-gradient(135deg, #258293, #98d4df);
  background-attachment: fixed;
}

.retry-button {
  margin-top: $margin;
  font-size: 40px;
  outline: none;
  border-width: 5px;
  border-radius: 45%;
  border-style: solid;
  border-color: black;
  background: $ok-lighter;
  padding: 10px;
}

.retry-button:active {
  background: $ok-darker;
}

.card {
  background-color: fade-out(white, 0.1);
  width: 70vw;
  @include tablet-landscape-and-below {
    width: 90vw;
  }
  margin-top: $margin * 3;
  padding-top: $margin * 3;
  margin-bottom: $margin * 3;
  padding-bottom: $margin * 3;
  border-radius: 10px;
}

.message {
  margin-top: $margin;
}

.top-icon {
  font-size: 150px;
}

.error-icon {
  color: $error;
}
